@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;

}
.select {
  color: #fff !important;
  border: 1px solid #fff !important;
  font-weight: bold !important;
  svg {
    color: #fff !important;
  }
}
