@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Naskh+Arabic:wght@400..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Naskh+Arabic:wght@400..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  // font-family: "Tajawal", sans-serif;
  // font-family: "Noto Naskh Arabic", serif;
  font-family: "Mirza", serif;

  font-style: normal;
  font-size: 16px;
  line-height: 1.5;

}
.select {
  color: #fff !important;
  border: 1px solid #fff !important;
  font-weight: bold !important;
  svg {
    color: #fff !important;
  }
}
